# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# YML that injects environment variables
configs.yml

# Webstorm project directories
.idea/

# JSON file used for passing data to local serverless invocation
data.json
